.page-title {
  background-image: url(../img/about/Title_about.png);
  height: 130px;
  background-size: cover;
  background-position: 52% 50%;
  margin: 50px auto; }
  @media (max-width: 992px) {
    .page-title {
      height: 80px; } }

.page-content .content {
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: 2px solid #feef03;
  padding: 60px 0;
  line-height: 30px;
  max-width: 95%;
  margin: 0 auto;
  position: relative; }
  .page-content .content:before {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    left: -6px;
    top: 6px;
    border: 2px solid #feef03;
    border-top: none;
    border-right: none; }
  .page-content .content .p-1 {
    font-size: 24px; }

.spin1 {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
  .spin1 svg {
    width: 50px;
    height: 50px;
    stroke: #feef03;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-dasharray: 31%;
    -webkit-animation: 1.2s scale infinite;
            animation: 1.2s scale infinite;
    -webkit-filter: drop-shadow(0px 2px rgba(0, 0, 0, 0.6));
            filter: drop-shadow(0px 2px rgba(0, 0, 0, 0.6)); }
    .spin1 svg circle {
      fill: none;
      -webkit-animation: 1.2s spin1 infinite;
              animation: 1.2s spin1 infinite; }

@-webkit-keyframes spin1 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes spin1 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.spin2 {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
  .spin2 svg {
    stroke: none;
    fill: #feef03;
    -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
            transform: scale(0.6);
    -webkit-filter: drop-shadow(0px 2px rgba(0, 0, 0, 0.2));
            filter: drop-shadow(0px 2px rgba(0, 0, 0, 0.2));
    width: 50px;
    height: 50px; }
  .spin2 circle, .spin2 path {
    -webkit-animation: 0.8s opacity infinite linear;
            animation: 0.8s opacity infinite linear; }

@-webkit-keyframes opacity {
  0% {
    opacity: 1; }
  90% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes opacity {
  0% {
    opacity: 1; }
  90% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .spin2 .c1 {
    -webkit-animation-delay: 0s;
            animation-delay: 0s; }
  .spin2 .c2 {
    -webkit-animation-delay: -0.1s;
            animation-delay: -0.1s; }
  .spin2 .c3 {
    -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s; }
  .spin2 .c4 {
    -webkit-animation-delay: -0.3s;
            animation-delay: -0.3s; }
  .spin2 .c5 {
    -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s; }
  .spin2 .c6 {
    -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s; }
  .spin2 .c7 {
    -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s; }
  .spin2 .c8 {
    -webkit-animation-delay: -0.7s;
            animation-delay: -0.7s; }
