@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:300,400,700&subset=chinese-traditional");
@import url("https://fonts.googleapis.com/css?family=Francois+One");
* {
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 1px; }

nav {
  padding-top: 15px !important;
  padding-bottom: 15px !important; }
  nav:after {
    content: "";
    display: block;
    width: 120vw;
    height: 120px;
    position: absolute;
    top: -75px;
    left: 50%;
    opacity: 1;
    background: black;
    -webkit-transform: rotate(-2deg) translateX(-50%);
        -ms-transform: rotate(-2deg) translateX(-50%);
            transform: rotate(-2deg) translateX(-50%);
    pointer-events: none;
    z-index: -1; }
  nav a.nav-link, nav a.dropdown-item {
    font-size: 20px;
    color: white;
    padding-left: 20px !important;
    padding-right: 20px !important;
    font-weight: 500;
    text-align: center;
    font-family: 'Francois One',sans-serif; }
    nav a.nav-link .first_char, nav a.dropdown-item .first_char {
      color: #6d00ff;
      text-shadow: -1px 0 rgba(0, 0, 0, 0.8), 0 1px rgba(0, 0, 0, 0.8), 1px 0 rgba(0, 0, 0, 0.8), 0 -1px rgba(0, 0, 0, 0.8);
      font-size: 32px;
      vertical-align: -3px;
      font-family: 'Francois One',sans-serif; }
  nav a.nav-link {
    position: relative;
    white-space: nowrap;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    nav a.nav-link:before {
      content: "";
      display: block;
      position: absolute;
      height: 10px;
      width: 0%;
      background-color: #7c1aff;
      top: 38px;
      left: 50%;
      -webkit-transform: translateX(-50%) rotate(-3deg);
          -ms-transform: translateX(-50%) rotate(-3deg);
              transform: translateX(-50%) rotate(-3deg);
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      z-index: -1; }
      @media (max-width: 991px) {
        nav a.nav-link:before {
          top: 45px; } }
    nav a.nav-link:hover {
      -webkit-transform: rotate(3deg);
          -ms-transform: rotate(3deg);
              transform: rotate(3deg); }
      nav a.nav-link:hover:before {
        width: 60%; }
        @media (max-width: 991px) {
          nav a.nav-link:hover:before {
            width: 100px; } }
    @media (max-width: 991px) {
      nav a.nav-link {
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center; } }
  nav .media-item .nav-link {
    white-space: nowrap; }
  nav .media-wrap {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: white;
    margin: 0 10px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    nav .media-wrap:hover {
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1); }
      nav .media-wrap:hover .fab {
        color: #6d00ff; }
    nav .media-wrap .fab {
      color: rgba(0, 0, 0, 0.9);
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
  nav .navbar-toggler {
    border: none;
    background: transparent !important;
    text-align: right !important; }
    nav .navbar-toggler:before {
      content: "";
      width: 100vw;
      height: 100vh;
      background: rgba(0, 0, 0, 0.8);
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      pointer-events: none;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      z-index: -1; }
    nav .navbar-toggler:focus {
      outline: none;
      background: transparent !important; }
    nav .navbar-toggler .icon-bar {
      background-color: rgba(255, 255, 255, 0.9);
      -webkit-transform: rotate(0deg) translate(0px, 0px);
          -ms-transform: rotate(0deg) translate(0px, 0px);
              transform: rotate(0deg) translate(0px, 0px);
      -webkit-transition: ease all .2s;
      -o-transition: ease all .2s;
      transition: ease all .2s;
      display: block;
      width: 25px;
      height: 3px;
      right: 0;
      border-radius: 1px; }
      nav .navbar-toggler .icon-bar + .icon-bar {
        margin-top: 4px; }
    nav .navbar-toggler .icon-bar:nth-child(2) {
      width: 16px;
      -webkit-transition: ease all .2s;
      -o-transition: ease all .2s;
      transition: ease all .2s; }
  nav .navbar-toggler:hover > .icon-bar:nth-child(2), nav .navbar-toggler:active > .icon-bar:nth-child(2) {
    width: 22px;
    -webkit-transition: ease all .2s;
    -o-transition: ease all .2s;
    transition: ease all .2s; }
  nav .navbar-toggler:not(.collapsed):before {
    opacity: 1; }
  nav .navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
    -webkit-transform: rotate(45deg) translate(6px, 4px);
        -ms-transform: rotate(45deg) translate(6px, 4px);
            transform: rotate(45deg) translate(6px, 4px);
    -webkit-transition: ease all .2s;
    -o-transition: ease all .2s;
    transition: ease all .2s; }
  nav .navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
    opacity: 0;
    -webkit-transition: ease all .2s;
    -o-transition: ease all .2s;
    transition: ease all .2s; }
  nav .navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
    -webkit-transform: rotate(-45deg) translate(6px, -4px);
        -ms-transform: rotate(-45deg) translate(6px, -4px);
            transform: rotate(-45deg) translate(6px, -4px);
    -webkit-transition: ease all .2s;
    -o-transition: ease all .2s;
    transition: ease all .2s; }
  nav .s-item {
    display: none; }
    @media (max-width: 991px) {
      nav .s-item {
        display: block; } }
  nav .b-item {
    display: none; }
    @media (min-width: 991px) {
      nav .b-item {
        display: block; } }
  nav .s-media-item {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%; }

@media (max-width: 991px) {
  nav.navbar .navbar-nav .nav-item {
    height: calc(90vh/7.5); } }

.fix-video {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  z-index: -100; }

.video-mask {
  position: fixed;
  z-index: -99;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-image: url(../img/Bg_mask.png);
  opacity: 0.4; }

header#section_header {
  padding: 10px 50px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden; }
  header#section_header .slider-wrap {
    position: relative;
    min-width: 991px;
    pointer-events: none; }
    header#section_header .slider-wrap .main-logo-area {
      pointer-events: none;
      -webkit-perspective: 500px;
              perspective: 500px;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      header#section_header .slider-wrap .main-logo-area img {
        width: 50%; }
        @media (max-width: 768px) {
          header#section_header .slider-wrap .main-logo-area img {
            width: 40%; } }
    header#section_header .slider-wrap .img-wrap img {
      width: 100%; }
    header#section_header .slider-wrap ul.slick-dots {
      bottom: 20px; }
      header#section_header .slider-wrap ul.slick-dots li button:before {
        color: white; }

section#features {
  background: white;
  padding: 80px 0; }
  section#features .section-title {
    text-align: center;
    margin-bottom: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    section#features .section-title .decor-line {
      height: 2px;
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      background: #ddd;
      position: relative;
      top: 60px; }
    section#features .section-title .img-wrap {
      width: 200px;
      display: inline-block;
      margin: 0 30px; }
      section#features .section-title .img-wrap img {
        width: 100%; }
  @media (max-width: 991px) {
    section#features .feature-card-wrap {
      margin-bottom: 60px; } }
  section#features .feature-card-wrap .card-title h3 {
    font-weight: 400;
    text-align: center;
    margin-bottom: 25px;
    height: 6rem;
    letter-spacing: 1px;
    font-size: 32px; }
  section#features .card-img {
    position: relative; }
    section#features .card-img .img-wrap {
      -webkit-mask-size: 100% 100%;
              mask-size: 100% 100%;
      -webkit-mask-repeat: no-repeat;
              mask-repeat: no-repeat;
      position: relative;
      padding-bottom: 80%;
      -webkit-mask-image: url(../img/BG_NEWS_CC.svg);
              mask-image: url(../img/BG_NEWS_CC.svg); }
      @media (min-width: 992px) {
        section#features .card-img .img-wrap {
          -webkit-transform: scale(1.1);
              -ms-transform: scale(1.1);
                  transform: scale(1.1);
          padding-bottom: 100%; } }
      section#features .card-img .img-wrap img {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        -o-object-fit: cover;
           object-fit: cover;
        width: 100%;
        height: 100%; }
    section#features .card-img .mask-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding-bottom: 80%;
      display: none; }
      @media (min-width: 992px) {
        section#features .card-img .mask-img {
          padding-bottom: 100%;
          -webkit-transform: scale(1.1);
              -ms-transform: scale(1.1);
                  transform: scale(1.1);
          display: block; } }
      section#features .card-img .mask-img img {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        width: 100%; }
    section#features .card-img .mask-img.mobile {
      display: none; }
      @media (max-width: 991px) {
        section#features .card-img .mask-img.mobile {
          display: block; } }
  section#features .card-text {
    position: relative; }
    @media (min-width: 992px) {
      section#features .card-text {
        top: -15px; } }
    section#features .card-text p {
      text-align: justify;
      font-size: 18px;
      font-weight: 300;
      line-height: 30px; }
  section#features .card-col a * {
    color: black; }
  section#features .card-col a:hover {
    text-decoration: none;
    color: black; }
  section#features .card-col:nth-child(1) {
    position: relative; }
    @media (min-width: 992px) {
      section#features .card-col:nth-child(1) {
        right: 50px; } }
    @media (min-width: 992px) {
      section#features .card-col:nth-child(1) .card-img .img-wrap {
        -webkit-mask-image: url(../img/BG_NEWS_LL.svg);
                mask-image: url(../img/BG_NEWS_LL.svg); } }
    @media (min-width: 992px) {
      section#features .card-col:nth-child(1) .card-text {
        -webkit-transform: rotate(-10deg) translateX(40px);
            -ms-transform: rotate(-10deg) translateX(40px);
                transform: rotate(-10deg) translateX(40px); } }
  section#features .card-col:nth-child(2) .card-img {
    margin-bottom: 30px; }
    section#features .card-col:nth-child(2) .card-img .img-wrap {
      -webkit-mask-image: url(../img/BG_NEWS_CC.svg);
              mask-image: url(../img/BG_NEWS_CC.svg); }
      @media (min-width: 992px) {
        section#features .card-col:nth-child(2) .card-img .img-wrap {
          padding-bottom: 80%; } }
    @media (min-width: 992px) {
      section#features .card-col:nth-child(2) .card-img .mask-img {
        padding-bottom: 80%; } }
  section#features .card-col:nth-child(3) {
    position: relative; }
    @media (min-width: 992px) {
      section#features .card-col:nth-child(3) {
        left: 50px; } }
    @media (min-width: 992px) {
      section#features .card-col:nth-child(3) .card-img .img-wrap {
        -webkit-mask-image: url(../img/BG_NEWS_RR.svg);
                mask-image: url(../img/BG_NEWS_RR.svg); } }
    @media (min-width: 992px) {
      section#features .card-col:nth-child(3) .card-text {
        -webkit-transform: rotate(10deg) translateX(-25px);
            -ms-transform: rotate(10deg) translateX(-25px);
                transform: rotate(10deg) translateX(-25px); } }

section#group-description {
  position: relative;
  background: white;
  background-image: url(../img/about_bg.png);
  background-size: cover;
  background-position: center top; }
  section#group-description:before {
    content: '';
    display: block;
    position: absolute;
    background-image: url(../img/about_bg_top.png);
    background-size: 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    padding-bottom: 5%;
    -webkit-transform: translateY(-99%);
        -ms-transform: translateY(-99%);
            transform: translateY(-99%); }
  section#group-description .section-title {
    text-align: center;
    margin-bottom: 70px;
    max-width: 450px;
    min-width: 200px;
    width: 50%;
    margin: 0 auto; }
    section#group-description .section-title img {
      width: 100%; }
  section#group-description .text-wrap {
    margin-top: 20%; }
    @media (max-width: 576px) {
      section#group-description .text-wrap {
        margin-top: 130px; } }
    section#group-description .text-wrap p {
      color: white;
      text-align: center; }
    section#group-description .text-wrap .p-1 {
      font-size: 28px;
      letter-spacing: 2px; }
      @media (max-width: 576px) {
        section#group-description .text-wrap .p-1 {
          font-size: 20px; } }
    section#group-description .text-wrap .p-2 {
      font-size: 19px;
      line-height: 32px; }
      @media (max-width: 576px) {
        section#group-description .text-wrap .p-2 {
          font-size: 16px;
          line-height: 26px;
          font-weight: 300; } }
  section#group-description .about-btn {
    text-align: center;
    margin-top: 80px;
    padding: 15px 0; }
    section#group-description .about-btn button {
      border: none;
      background: none;
      border: 2px solid white;
      color: white;
      font-size: 28px;
      padding: 8px 45px;
      cursor: pointer; }
      @media (max-width: 576px) {
        section#group-description .about-btn button {
          font-size: 18px;
          padding: 6px 40px; } }

section#schedule {
  background: rgba(0, 0, 0, 0.7);
  padding: 60px 0; }
  section#schedule .section-title {
    text-align: center;
    margin-bottom: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    section#schedule .section-title .decor-line {
      height: 2px;
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      background: #ddd;
      position: relative;
      top: 60px; }
    section#schedule .section-title .img-wrap {
      width: 200px;
      display: inline-block;
      margin: 0 30px; }
      section#schedule .section-title .img-wrap img {
        width: 100%; }
  section#schedule .sche {
    margin: 0;
    -webkit-transform: translateY(20%) scale(1.2);
        -ms-transform: translateY(20%) scale(1.2);
            transform: translateY(20%) scale(1.2); }
  section#schedule .list-wrap .lists {
    margin: 0;
    padding: 0;
    padding: 20px 40px; }
    @media (max-width: 576px) {
      section#schedule .list-wrap .lists {
        padding: 20px 0; } }
    section#schedule .list-wrap .lists .list {
      list-style-type: none;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      cursor: pointer; }
      section#schedule .list-wrap .lists .list:hover {
        background: rgba(223, 205, 245, 0.7); }
        section#schedule .list-wrap .lists .list:hover div {
          color: #333; }
          section#schedule .list-wrap .lists .list:hover div .text {
            font-weight: normal; }
          section#schedule .list-wrap .lists .list:hover div span {
            color: white; }
    section#schedule .list-wrap .lists .list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      border-bottom: 1px solid #7c1aff;
      padding: 30px 0;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      color: white;
      text-decoration: none; }
      section#schedule .list-wrap .lists .list .date, section#schedule .list-wrap .lists .list .cate {
        text-align: center;
        display: inline-block;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
      @media (max-width: 1200px) {
        section#schedule .list-wrap .lists .list .date {
          font-size: 18px; } }
      section#schedule .list-wrap .lists .list .text {
        font-size: 18px;
        font-weight: 300; }
        @media (max-width: 1200px) {
          section#schedule .list-wrap .lists .list .text {
            margin: 30px 0; } }
      section#schedule .list-wrap .lists .list .cate span {
        font-size: 14px;
        display: inline-block;
        padding: 8px 20px;
        background: #903dff;
        border-radius: 5px; }
    section#schedule .list-wrap .lists .card-body {
      color: white;
      text-align: justify;
      font-weight: 300; }
  section#schedule .see-more-btn {
    text-align: center;
    margin-top: 80px; }
    section#schedule .see-more-btn button {
      border: none;
      background: none;
      border: 2px solid white;
      color: white;
      font-size: 20px;
      padding: 8px 45px;
      cursor: pointer; }
      @media (max-width: 576px) {
        section#schedule .see-more-btn button {
          font-size: 18px;
          padding: 6px 40px; } }

section#youtube-slider {
  background: rgba(0, 0, 0, 0.7);
  padding: 60px 0; }
  section#youtube-slider .slider-wrap {
    padding: 0 50px; }
    section#youtube-slider .slider-wrap .a-left, section#youtube-slider .slider-wrap .a-right {
      -webkit-transform: scale(1.5);
          -ms-transform: scale(1.5);
              transform: scale(1.5); }
    section#youtube-slider .slider-wrap .slider.video-slider {
      -webkit-box-shadow: 0 0 100px rgba(255, 255, 255, 0.5);
              box-shadow: 0 0 100px rgba(255, 255, 255, 0.5);
      font-size: 0; }
      section#youtube-slider .slider-wrap .slider.video-slider .video-wrap {
        width: 100%;
        padding-bottom: 56.25%;
        position: relative; }
        section#youtube-slider .slider-wrap .slider.video-slider .video-wrap iframe, section#youtube-slider .slider-wrap .slider.video-slider .video-wrap .fb-video {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%; }

section#members {
  background: rgba(0, 0, 0, 0.7);
  padding: 80px 0; }
  section#members .member {
    background-image: url(https://placekitten.com/g/600/600);
    background-size: cover;
    background-position: center center;
    padding-bottom: 90%;
    margin: 15px 0;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    section#members .member:hover {
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1); }

.bg-img {
  position: fixed;
  z-index: -1;
  width: 100%;
  background-image: url(../img/about/BG_About01.png);
  background-position: center 12%;
  background-size: cover;
  height: 100vh;
  background-color: #59128c; }

#about * ::-webkit-scrollbar {
  width: 0px; }

#about * ::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2); }

#about * ::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5); }

#about * ::-webkit-scrollbar-thumb:hover {
  background: #555; }

#about .members-pc {
  background-image: url(../img/about/Bg_ling.png);
  background-repeat: no-repeat;
  background-size: 80%;
  margin: 20px 0;
  position: relative;
  background-position: center top;
  padding-bottom: 200%;
  max-width: 1400px;
  margin: 0 auto;
  z-index: 0; }
  @media (min-width: 1440px) {
    #about .members-pc {
      padding-bottom: 2700px !important; } }
  @media (min-width: 1200px) {
    #about .members-pc {
      padding-bottom: 180%; } }
  @media (max-width: 992px) {
    #about .members-pc {
      display: none; } }
  #about .members-pc .member-wrap {
    position: absolute;
    display: none; }
    #about .members-pc .member-wrap .profile {
      padding: 20px;
      position: absolute;
      border: 3px solid #feef03;
      background: rgba(0, 0, 0, 0.5);
      color: white;
      opacity: 0;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      min-width: 350px; }
      #about .members-pc .member-wrap .profile h2 {
        font-size: 24px; }
      #about .members-pc .member-wrap .profile:before {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        border-bottom: 3px solid #feef03;
        height: 6px;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
        bottom: -3%; }
    #about .members-pc .member-wrap:hover .profile {
      opacity: 1; }
  #about .members-pc .member-wrap:nth-child(1) {
    display: block;
    top: 12%;
    left: 10%; }
    #about .members-pc .member-wrap:nth-child(1) .pic {
      width: 14vw;
      max-width: 250px; }
    #about .members-pc .member-wrap:nth-child(1) .profile {
      top: 21%;
      left: 100%;
      min-height: 65%; }
  #about .members-pc .member-wrap:nth-child(2) {
    display: block;
    top: 15%;
    left: 68%; }
    #about .members-pc .member-wrap:nth-child(2) .pic {
      width: 21vw;
      max-width: 350px; }
    #about .members-pc .member-wrap:nth-child(2) .profile {
      top: 25%;
      right: 80%;
      min-height: 70%;
      z-index: -1; }
  #about .members-pc .member-wrap:nth-child(3) {
    display: block;
    top: 33%;
    left: 15%; }
    #about .members-pc .member-wrap:nth-child(3) .pic {
      width: 20vw;
      max-width: 270px; }
    #about .members-pc .member-wrap:nth-child(3) .profile {
      top: 21%;
      left: 90%;
      min-height: 70%;
      z-index: -1; }
  #about .members-pc .member-wrap:nth-child(4) {
    display: block;
    top: 43%;
    left: 68%; }
    #about .members-pc .member-wrap:nth-child(4) .pic {
      width: 17vw;
      max-width: 250px; }
    #about .members-pc .member-wrap:nth-child(4) .profile {
      top: 25%;
      right: 88%;
      min-height: 70%;
      z-index: -1; }
  #about .members-pc .member-wrap:nth-child(5) {
    display: block;
    top: 51%;
    left: 15%; }
    #about .members-pc .member-wrap:nth-child(5) .pic {
      width: 20vw;
      max-width: 270px; }
    #about .members-pc .member-wrap:nth-child(5) .profile {
      top: 21%;
      left: 90%;
      min-height: 70%;
      z-index: -1; }
  #about .members-pc .member-wrap:nth-child(6) {
    display: block;
    top: 63%;
    left: 63%; }
    #about .members-pc .member-wrap:nth-child(6) .pic {
      width: 17vw;
      max-width: 250px; }
    #about .members-pc .member-wrap:nth-child(6) .profile {
      top: 50%;
      right: 88%;
      min-height: 70%;
      z-index: -1;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); }
  #about .members-pc .member-wrap:nth-child(7) {
    display: block;
    top: 75%;
    left: 17%; }
    #about .members-pc .member-wrap:nth-child(7) .pic {
      width: 17vw;
      max-width: 250px; }
    #about .members-pc .member-wrap:nth-child(7) .profile {
      top: 25%;
      left: 100%;
      min-height: 70%;
      z-index: -1; }

#about .members-mb, #about .light-box {
  position: relative;
  display: none;
  margin-top: 190px; }
  @media (max-width: 992px) {
    #about .members-mb, #about .light-box {
      display: block; } }
  @media (max-width: 768px) {
    #about .members-mb, #about .light-box {
      margin-top: 0; } }
  #about .members-mb:before, #about .light-box:before {
    position: absolute;
    background-image: url(../img/about/Bg_ling.png);
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    left: 0;
    top: -10%;
    z-index: -100; }
    @media (max-width: 992px) {
      #about .members-mb:before, #about .light-box:before {
        display: none; } }
  #about .members-mb .mb, #about .light-box .mb {
    margin-bottom: 60px; }
    @media (max-width: 768px) {
      #about .members-mb .mb, #about .light-box .mb {
        margin-bottom: 90px; } }
  #about .members-mb .pic-wrap, #about .light-box .pic-wrap {
    position: relative;
    padding-bottom: 100%; }
    @media (max-width: 768px) {
      #about .members-mb .pic-wrap, #about .light-box .pic-wrap {
        padding-bottom: 120%; } }
    #about .members-mb .pic-wrap img, #about .light-box .pic-wrap img {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
  #about .members-mb .content-wrap, #about .light-box .content-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    cursor: pointer; }
  #about .members-mb .profile, #about .light-box .profile {
    width: 100%;
    padding: 20px;
    position: relative;
    border: 3px solid #feef03;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    z-index: -1;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    #about .members-mb .profile:before, #about .light-box .profile:before {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      border-bottom: 3px solid #feef03;
      height: 6px;
      left: 0;
      background: rgba(0, 0, 0, 0.5);
      bottom: -3%; }
    #about .members-mb .profile h2, #about .light-box .profile h2 {
      font-weight: 400;
      font-size: 24px; }
  #about .members-mb .row:nth-child(1) img, #about .light-box .row:nth-child(1) img {
    width: 70%; }
  #about .members-mb .row:nth-child(2) img, #about .light-box .row:nth-child(2) img {
    width: 85%; }
  #about .members-mb .row:nth-child(3) img, #about .light-box .row:nth-child(3) img {
    width: 80%; }
  #about .members-mb .row:nth-child(4) img, #about .light-box .row:nth-child(4) img {
    width: 80%; }
  #about .members-mb .row:nth-child(5) img, #about .light-box .row:nth-child(5) img {
    width: 80%; }
  #about .members-mb .row:nth-child(6) img, #about .light-box .row:nth-child(6) img {
    width: 80%; }
  #about .members-mb .row:nth-child(7) img, #about .light-box .row:nth-child(7) img {
    width: 70%; }

#about .light-box {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  margin-top: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  #about .light-box:before {
    display: none; }
  #about .light-box .row100vh {
    height: 90vh;
    overflow-y: scroll; }
  #about .light-box .content-wrap, #about .light-box .pic-wrap {
    padding-bottom: 0 !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%; }
  @media (max-width: 768px) {
    #about .light-box .pic-wrap {
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end; } }
  #about .light-box .pic {
    position: static !important;
    -webkit-transform: none !important;
        -ms-transform: none !important;
            transform: none !important; }
  #about .light-box .pic1 {
    width: 60%;
    max-width: 200px; }
    @media (max-width: 576px) {
      #about .light-box .pic1 {
        width: 50% !important; } }
  #about .light-box .pic2 {
    width: 90% !important;
    max-width: 250px; }
    @media (max-width: 576px) {
      #about .light-box .pic2 {
        width: 70% !important; } }
  #about .light-box .pic3 {
    max-width: 250px;
    width: 80% !important; }
    @media (max-width: 576px) {
      #about .light-box .pic3 {
        width: 60% !important; } }
  #about .light-box .pic4 {
    max-width: 250px;
    width: 80%; }
    @media (max-width: 576px) {
      #about .light-box .pic4 {
        width: 60% !important; } }
  #about .light-box .pic5 {
    max-width: 250px;
    width: 80% !important; }
    @media (max-width: 576px) {
      #about .light-box .pic5 {
        width: 60% !important; } }
  #about .light-box .pic6 {
    max-width: 250px;
    width: 80% !important; }
    @media (max-width: 576px) {
      #about .light-box .pic6 {
        width: 60% !important; } }
  #about .light-box .pic7 {
    max-width: 250px;
    width: 70%; }
    @media (max-width: 576px) {
      #about .light-box .pic7 {
        width: 50% !important; } }
  #about .light-box .close {
    position: absolute;
    right: 100px;
    top: 20%;
    color: white;
    outline: none;
    font-size: 30px;
    z-index: 2000; }
    @media (max-width: 576px) {
      #about .light-box .close {
        right: 30px;
        top: 10%; } }
  @media (max-width: 576px) {
    #about .light-box .a-left {
      left: 25px;
      z-index: 100;
      width: 50px; } }
  @media (max-width: 576px) {
    #about .light-box .a-right {
      right: 25px;
      z-index: 100;
      width: 50px; } }

#about .slick-img {
  cursor: pointer; }

@media (min-width: 769px) {
  .tr-l {
    -webkit-transform: translateX(-10%);
        -ms-transform: translateX(-10%);
            transform: translateX(-10%); } }

@media (min-width: 769px) {
  .tr-r {
    -webkit-transform: translateX(10%);
        -ms-transform: translateX(10%);
            transform: translateX(10%); } }

#family {
  position: relative;
  overflow: hidden; }
  #family .page-title {
    background-image: url(../img/family/Title_family.png); }
  #family .family-bg-img {
    position: absolute;
    background-image: url(../img/family/BgFamiTop.png);
    padding-bottom: 75%;
    width: 100%;
    background-size: 100%;
    z-index: -1;
    background-repeat: no-repeat;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    min-width: 991px; }
    @media (max-width: 991px) {
      #family .family-bg-img {
        padding-bottom: 500px; } }
  #family .spot-light {
    position: absolute;
    width: 100%;
    background-image: url(../img/family/BgFamiLight.png);
    background-size: 100% 100%;
    top: -50px;
    z-index: 0;
    opacity: 0.7;
    padding-bottom: 80%; }
    @media (min-width: 1200px) {
      #family .spot-light {
        padding-bottom: 1200px; } }
    @media (max-width: 991px) {
      #family .spot-light {
        padding-bottom: 600px; } }
    @media (max-width: 991px) {
      #family .spot-light {
        padding-bottom: 450px; } }
    @media (max-width: 768px) {
      #family .spot-light {
        padding-bottom: 400px; } }
    @media (max-width: 520px) {
      #family .spot-light {
        display: none; } }
  #family .logo {
    text-align: center;
    margin-top: 50px; }
    #family .logo img {
      display: block;
      width: 50%;
      min-width: 200px;
      margin: 0 auto; }
  #family .students {
    position: relative; }
    #family .students .stu-row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      padding: 50px; }
      @media (max-width: 991px) {
        #family .students .stu-row {
          padding-left: 10px;
          padding-right: 10px; } }
      #family .students .stu-row .box {
        width: 20%;
        display: block; }
        @media (max-width: 991px) {
          #family .students .stu-row .box {
            width: 33.33%; } }
        #family .students .stu-row .box .stu-wrap {
          border: 3px solid #feef03;
          margin: 15px;
          -webkit-box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.5);
                  box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.5);
          border-radius: 5px;
          position: relative;
          cursor: pointer; }
          @media (max-width: 991px) {
            #family .students .stu-row .box .stu-wrap {
              margin: 15px;
              margin-bottom: 20px; } }
          @media (max-width: 576px) {
            #family .students .stu-row .box .stu-wrap {
              margin: 6px;
              margin-bottom: 20px; } }
          #family .students .stu-row .box .stu-wrap .pic-wrap {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            padding-bottom: 100%;
            position: relative; }
            #family .students .stu-row .box .stu-wrap .pic-wrap .decor {
              position: absolute;
              height: 20px;
              top: 50%;
              left: 0;
              -webkit-transform: translateY(-50%);
                  -ms-transform: translateY(-50%);
                      transform: translateY(-50%); }
              #family .students .stu-row .box .stu-wrap .pic-wrap .decor:before, #family .students .stu-row .box .stu-wrap .pic-wrap .decor:after {
                content: '';
                display: block;
                position: absolute;
                width: 10px;
                height: 10px;
                border: 3px solid #feef03;
                background-color: #6d00ff;
                top: 50%; }
              #family .students .stu-row .box .stu-wrap .pic-wrap .decor:before {
                left: 0;
                -webkit-transform: translateY(-50%) translateX(-60%) rotate(45deg);
                    -ms-transform: translateY(-50%) translateX(-60%) rotate(45deg);
                        transform: translateY(-50%) translateX(-60%) rotate(45deg); }
              #family .students .stu-row .box .stu-wrap .pic-wrap .decor:after {
                right: 0;
                -webkit-transform: translateY(-50%) translateX(60%) rotate(45deg);
                    -ms-transform: translateY(-50%) translateX(60%) rotate(45deg);
                        transform: translateY(-50%) translateX(60%) rotate(45deg); }
            #family .students .stu-row .box .stu-wrap .pic-wrap .decor1 {
              width: 100%;
              top: 50%;
              -webkit-transform: translateY(-50%);
                  -ms-transform: translateY(-50%);
                      transform: translateY(-50%); }
            #family .students .stu-row .box .stu-wrap .pic-wrap .decor2 {
              width: 100%;
              top: 50%;
              -webkit-transform: translateY(-50%) rotate(90deg);
                  -ms-transform: translateY(-50%) rotate(90deg);
                      transform: translateY(-50%) rotate(90deg); }
          #family .students .stu-row .box .stu-wrap .stu-name {
            position: absolute;
            bottom: 0;
            z-index: 100;
            border-radius: 5px;
            width: 100%; }
            #family .students .stu-row .box .stu-wrap .stu-name .name-wrap {
              position: absolute;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: center;
                  -ms-flex-pack: center;
                      justify-content: center;
              -webkit-box-align: center;
                  -ms-flex-align: center;
                      align-items: center;
              left: 50%;
              -webkit-transform: translateX(-50%);
                  -ms-transform: translateX(-50%);
                      transform: translateX(-50%);
              bottom: 0;
              background-image: url(../img/family/Bg_FamiFrameName.png);
              background-size: 100% 100%;
              background-position: 0% 10px;
              border-radius: 5px;
              width: 100%;
              background-repeat: no-repeat;
              min-height: 50px; }
              @media (max-width: 576px) {
                #family .students .stu-row .box .stu-wrap .stu-name .name-wrap {
                  min-height: auto; } }
            #family .students .stu-row .box .stu-wrap .stu-name h2 {
              -webkit-transform: scale(1.6) translateY(13%);
                  -ms-transform: scale(1.6) translateY(13%);
                      transform: scale(1.6) translateY(13%);
              -webkit-transform-origin: center center;
                  -ms-transform-origin: center center;
                      transform-origin: center center;
              white-space: nowrap;
              margin-bottom: -15px;
              text-align: center;
              font-size: 20px;
              font-weight: bold;
              line-height: 35px;
              text-align: center;
              color: #8606c2;
              text-shadow: 1px 1px 0 #ea81df, -1px 1px 0 #ea81df, 1px -1px 0 #ea81df, -1px -1px 0 #ea81df, 0px 1px 0 #ea81df, 0px -1px 0 #ea81df, -1px 0px 0 #ea81df, 1px 0px 0 #ea81df, 2px 2px 0 #ea81df, -2px 2px 0 #ea81df, 2px -2px 0 #ea81df, -2px -2px 0 #ea81df, 0px 2px 0 #ea81df, 0px -2px 0 #ea81df, -2px 0px 0 #ea81df, 2px 0px 0 #ea81df, 1px 2px 0 #ea81df, -1px 2px 0 #ea81df, 1px -2px 0 #ea81df, -1px -2px 0 #ea81df, 2px 1px 0 #ea81df, -2px 1px 0 #ea81df, 2px -1px 0 #ea81df, -2px -1px 0 #ea81df, 0 5px 5px rgba(0, 0, 0, 0.9); }
              @media (max-width: 1200px) {
                #family .students .stu-row .box .stu-wrap .stu-name h2 {
                  -webkit-transform: scale(1.2) translateY(14%);
                      -ms-transform: scale(1.2) translateY(14%);
                          transform: scale(1.2) translateY(14%);
                  line-height: 30px; } }
              @media (max-width: 991px) {
                #family .students .stu-row .box .stu-wrap .stu-name h2 {
                  -webkit-transform: scale(1.7) translateY(14%);
                      -ms-transform: scale(1.7) translateY(14%);
                          transform: scale(1.7) translateY(14%);
                  line-height: 28px;
                  font-size: 20px; } }
              @media (max-width: 768px) {
                #family .students .stu-row .box .stu-wrap .stu-name h2 {
                  -webkit-transform: scale(1.1) translateY(14%);
                      -ms-transform: scale(1.1) translateY(14%);
                          transform: scale(1.1) translateY(14%);
                  line-height: 30px; } }
              @media (max-width: 576px) {
                #family .students .stu-row .box .stu-wrap .stu-name h2 {
                  -webkit-transform: scale(0.8) translateY(14%);
                      -ms-transform: scale(0.8) translateY(14%);
                          transform: scale(0.8) translateY(14%);
                  line-height: 20px; } }
              @media (max-width: 576px) {
                #family .students .stu-row .box .stu-wrap .stu-name h2 {
                  -webkit-transform: scale(0.8) translateY(14%);
                      -ms-transform: scale(0.8) translateY(14%);
                          transform: scale(0.8) translateY(14%);
                  line-height: 20px;
                  font-size: 18px; } }
              @media (max-width: 350px) {
                #family .students .stu-row .box .stu-wrap .stu-name h2 {
                  font-size: 14px;
                  -webkit-transform: scale(0.8) translateY(14%);
                      -ms-transform: scale(0.8) translateY(14%);
                          transform: scale(0.8) translateY(14%);
                  line-height: 20px; } }
    #family .students .bg-imgs-wrap {
      position: absolute;
      z-index: -2; }
      #family .students .bg-imgs-wrap .bg-imgs {
        width: 100%; }
    #family .students .bg-imgs-wrap.l5 {
      display: block;
      bottom: 5%;
      width: 45%;
      min-width: 250px; }
      @media (max-width: 576px) {
        #family .students .bg-imgs-wrap.l5 {
          bottom: auto;
          top: 80%; } }
    #family .students .bg-imgs-wrap.l4 {
      top: 60%;
      width: 30%;
      height: 600px;
      overflow: hidden;
      display: block;
      min-width: 250px; }
    #family .students .bg-imgs-wrap.l3 {
      display: block;
      top: 40%;
      width: 30%;
      min-width: 250px; }
    #family .students .bg-imgs-wrap.l2 {
      display: block;
      top: 20%;
      width: 35%;
      min-width: 250px; }
    #family .students .bg-imgs-wrap.l1 {
      position: absolute;
      display: block;
      top: 0%;
      width: 40%;
      min-width: 250px; }
      #family .students .bg-imgs-wrap.l1 .bg-imgs.l1 {
        width: 100%; }
    #family .students .bg-imgs-wrap.r5 {
      display: block;
      bottom: 5%;
      width: 30%;
      right: 0;
      min-width: 250px; }
      @media (max-width: 576px) {
        #family .students .bg-imgs-wrap.r5 {
          bottom: auto;
          top: 80%; } }
    #family .students .bg-imgs-wrap.r4 {
      top: 60%;
      width: 30%;
      height: 600px;
      overflow: hidden;
      display: none;
      right: 0;
      min-width: 250px; }
    #family .students .bg-imgs-wrap.r3 {
      display: block;
      top: 50%;
      width: 20%;
      right: 0;
      min-width: 250px; }
    #family .students .bg-imgs-wrap.r2 {
      display: block;
      top: 20%;
      width: 30%;
      right: 0;
      min-width: 250px; }
    #family .students .bg-imgs-wrap.r1 {
      position: absolute;
      display: block;
      top: 0%;
      width: 40%;
      right: 0;
      min-width: 250px;
      z-index: -10; }
      #family .students .bg-imgs-wrap.r1 .bg-imgs.r1 {
        width: 100%; }
    #family .students .bg-imgs-wrap.c4 {
      bottom: 0;
      width: 40%;
      left: 40%;
      min-width: 250px; }
      @media (max-width: 576px) {
        #family .students .bg-imgs-wrap.c4 {
          bottom: auto;
          top: 90%; } }
    #family .students .bg-imgs-wrap.c3 {
      display: block;
      top: 50%;
      width: 30%;
      left: 40%;
      min-width: 250px; }
    #family .students .bg-imgs-wrap.c2 {
      display: block;
      top: 20%;
      width: 40%;
      right: 40%;
      min-width: 250px; }
    #family .students .bg-imgs-wrap.c1 {
      position: absolute;
      display: block;
      top: 0%;
      width: 50%;
      left: 40%;
      min-width: 250px;
      z-index: -9; }
      #family .students .bg-imgs-wrap.c1 .bg-imgs.c1 {
        width: 100%; }

section#soos {
  padding-bottom: 200px; }
  section#soos * ::-webkit-scrollbar {
    width: 10px; }
  section#soos * ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2); }
  section#soos * ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5); }
  section#soos * ::-webkit-scrollbar-thumb:hover {
    background: #555; }
  section#soos .logo {
    text-align: center;
    padding: 30px 0; }
    section#soos .logo img {
      width: 50%;
      min-width: 200px; }
  section#soos .page-title {
    background-image: url(../img/soos/soos-title.png); }
    @media (max-width: 576px) {
      section#soos .page-title {
        background-size: 150%;
        background-repeat: no-repeat; } }
  section#soos .page-content {
    margin-bottom: 200px; }
    section#soos .page-content .content {
      position: relative;
      color: #feef03; }
      section#soos .page-content .content:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: #83169c;
        background-image: url(../img/Bg_mask.png);
        background-size: cover;
        background-position: center center;
        z-index: -1; }
  section#soos .history-container {
    position: relative;
    margin-bottom: 100px; }
    section#soos .history-container .line {
      position: absolute;
      display: block;
      height: 120%;
      width: 8px;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      background: #f1cc1a;
      z-index: -1; }
      @media (max-width: 991px) {
        section#soos .history-container .line {
          z-index: -1000; } }
      section#soos .history-container .line .arr {
        position: absolute;
        width: 100px;
        height: 100px;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-80px);
            -ms-transform: translateX(-50%) translateY(-80px);
                transform: translateX(-50%) translateY(-80px);
        text-align: center; }
        section#soos .history-container .line .arr img {
          -webkit-transform: scaleX(0.5);
              -ms-transform: scaleX(0.5);
                  transform: scaleX(0.5); }
      section#soos .history-container .line .arr2 {
        bottom: 0;
        -webkit-transform: translateX(-50%) translateY(80px);
            -ms-transform: translateX(-50%) translateY(80px);
                transform: translateX(-50%) translateY(80px); }
    section#soos .history-container .bg {
      width: 100%;
      height: 100%;
      position: absolute;
      width: 100vw;
      text-align: center;
      margin-left: -50vw;
      left: 50%;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -2;
      opacity: 0.8;
      -webkit-transform: translateY(10%);
          -ms-transform: translateY(10%);
              transform: translateY(10%); }
    section#soos .history-container .year-wrap {
      text-align: center;
      margin-bottom: 80px;
      color: #f1cc1a; }
      @media (max-width: 991px) {
        section#soos .history-container .year-wrap {
          margin: 0; } }
      section#soos .history-container .year-wrap .year {
        letter-spacing: 3px;
        display: inline-block;
        -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
                transform: rotate(90deg);
        font-style: italic;
        font-weight: 800;
        letter-spacing: 3px;
        font-size: 60px;
        text-shadow: 1px 1px 0 #370054, -1px 1px 0 #370054, 1px -1px 0 #370054, -1px -1px 0 #370054, 0px 1px 0 #370054, 0px -1px 0 #370054, -1px 0px 0 #370054, 1px 0px 0 #370054, 2px 2px 0 #370054, -2px 2px 0 #370054, 2px -2px 0 #370054, -2px -2px 0 #370054, 0px 2px 0 #370054, 0px -2px 0 #370054, -2px 0px 0 #370054, 2px 0px 0 #370054, 1px 2px 0 #370054, -1px 2px 0 #370054, 1px -2px 0 #370054, -1px -2px 0 #370054, 2px 1px 0 #370054, -2px 1px 0 #370054, 2px -1px 0 #370054, -2px -1px 0 #370054; }
        @media (max-width: 991px) {
          section#soos .history-container .year-wrap .year {
            -webkit-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                    transform: rotate(0deg); } }
    section#soos .history-container .poster-wrap {
      text-align: center; }
      section#soos .history-container .poster-wrap img {
        width: 80%;
        -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
                box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5); }
    section#soos .history-container .content-col {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      section#soos .history-container .content-col .content-wrap {
        width: 85%;
        height: 100%; }
        @media (max-width: 991px) {
          section#soos .history-container .content-col .content-wrap {
            margin-top: 100px; } }
        section#soos .history-container .content-col .content-wrap .vol-wrap {
          text-align: center;
          position: absolute;
          left: 50%;
          -webkit-transform: translate(-50%, -100%);
              -ms-transform: translate(-50%, -100%);
                  transform: translate(-50%, -100%);
          width: 100%; }
          @media (max-width: 991px) {
            section#soos .history-container .content-col .content-wrap .vol-wrap {
              text-align: center;
              -webkit-transform: translate(-50%, -100%);
                  -ms-transform: translate(-50%, -100%);
                      transform: translate(-50%, -100%); } }
          section#soos .history-container .content-col .content-wrap .vol-wrap img {
            width: 40%; }
            @media (max-width: 991px) {
              section#soos .history-container .content-col .content-wrap .vol-wrap img {
                width: 30%; } }
        section#soos .history-container .content-col .content-wrap .content {
          max-height: 600px;
          height: 100%;
          border: 3px solid #feef03;
          position: relative;
          color: #f1cc1a;
          padding: 10px 20px;
          font-weight: 600;
          font-size: 18px;
          letter-spacing: 35px;
          background: rgba(0, 0, 0, 0.6); }
          section#soos .history-container .content-col .content-wrap .content:before {
            position: absolute;
            display: block;
            content: '';
            width: 100%;
            height: 100%;
            left: -8px;
            top: 8px;
            border: 3px solid #feef03;
            border-top: none;
            border-right: none;
            z-index: -1; }
          section#soos .history-container .content-col .content-wrap .content:after {
            position: absolute;
            display: block;
            content: '';
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            opacity: 0.5;
            background-color: black;
            background-image: url(../img/Bg_mask.png);
            z-index: -1;
            background-size: 150%; }
          section#soos .history-container .content-col .content-wrap .content .content-inner {
            height: 100%;
            overflow-y: scroll; }

section#movie {
  padding-bottom: 150px; }
  section#movie * ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2); }
  section#movie * ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5); }
  section#movie * ::-webkit-scrollbar-thumb:hover {
    background: #555; }
  section#movie .page-title {
    background-image: url(../img/movie/movie-title.png); }
    @media (max-width: 576px) {
      section#movie .page-title {
        background-size: 150%;
        background-repeat: no-repeat; } }
  section#movie .slider-nav-wrap .movie-slider-nav {
    margin-bottom: 50px; }
    section#movie .slider-nav-wrap .movie-slider-nav .slick-current .img-wrap {
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      -webkit-transform: scale(1.5) translateY(0%);
          -ms-transform: scale(1.5) translateY(0%);
              transform: scale(1.5) translateY(0%); }
      @media (max-width: 1199px) {
        section#movie .slider-nav-wrap .movie-slider-nav .slick-current .img-wrap {
          -webkit-transform: scale(1.3) translateY(0%);
              -ms-transform: scale(1.3) translateY(0%);
                  transform: scale(1.3) translateY(0%); } }
      @media (max-width: 991px) {
        section#movie .slider-nav-wrap .movie-slider-nav .slick-current .img-wrap {
          -webkit-transform: scale(1) translateY(0%);
              -ms-transform: scale(1) translateY(0%);
                  transform: scale(1) translateY(0%); } }
    section#movie .slider-nav-wrap .movie-slider-nav .img-wrap {
      padding: 10px 90px;
      -webkit-transform: scale(0.9) translateY(20%);
          -ms-transform: scale(0.9) translateY(20%);
              transform: scale(0.9) translateY(20%);
      position: relative; }
      @media (max-width: 1199px) {
        section#movie .slider-nav-wrap .movie-slider-nav .img-wrap {
          padding: 10px 60px; } }
      @media (max-width: 991px) {
        section#movie .slider-nav-wrap .movie-slider-nav .img-wrap {
          padding: 10px 25px;
          -webkit-transform: scale(0.65) translateY(25%);
              -ms-transform: scale(0.65) translateY(25%);
                  transform: scale(0.65) translateY(25%); } }
      @media (max-width: 768px) {
        section#movie .slider-nav-wrap .movie-slider-nav .img-wrap img {
          margin: 0 auto; } }
  section#movie .slider-wrap {
    border: 3px solid #feef03;
    position: relative;
    color: #f1cc1a;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 35px;
    background: rgba(0, 0, 0, 0.6);
    border: 8px solid #feef03;
    top: -50px; }
    section#movie .slider-wrap:before {
      position: absolute;
      display: block;
      content: '';
      width: 100%;
      height: 100%;
      left: -12px;
      top: 12px;
      border: 3px solid #feef03;
      border-top: none;
      border-right: none;
      z-index: -1; }
    section#movie .slider-wrap:after {
      position: absolute;
      display: block;
      content: '';
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      opacity: 0.5;
      background-color: black;
      background-image: url(../img/rp_mask.png);
      z-index: -1;
      background-size: 10%; }
    section#movie .slider-wrap .movie-slider .all-video-wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      padding: 0 20px;
      height: 60vh;
      overflow: scroll; }
      @media (max-width: 768px) {
        section#movie .slider-wrap .movie-slider .all-video-wrap {
          height: 90vh;
          max-height: none; } }
      section#movie .slider-wrap .movie-slider .all-video-wrap .video-wrap-outer {
        width: 33.33%;
        padding: 30px 20px; }
        @media (max-width: 991px) {
          section#movie .slider-wrap .movie-slider .all-video-wrap .video-wrap-outer {
            width: 50%; } }
        @media (max-width: 768px) {
          section#movie .slider-wrap .movie-slider .all-video-wrap .video-wrap-outer {
            width: 100%;
            padding: 20px 20px; } }
        section#movie .slider-wrap .movie-slider .all-video-wrap .video-wrap-outer .video-wrap {
          position: relative;
          padding-bottom: 56.25%; }
          section#movie .slider-wrap .movie-slider .all-video-wrap .video-wrap-outer .video-wrap iframe {
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
            width: 100%;
            height: 100%; }
  section#movie .text-slider .text-wrap p {
    font-size: 18px;
    text-align: center;
    color: #feef03; }
  section#movie .slick-arrow {
    -webkit-transform: scaleY(5) scaleX(4);
        -ms-transform: scaleY(5) scaleX(4);
            transform: scaleY(5) scaleX(4); }
    @media (max-width: 768px) {
      section#movie .slick-arrow {
        -webkit-transform: scaleY(4) scaleX(3);
            -ms-transform: scaleY(4) scaleX(3);
                transform: scaleY(4) scaleX(3); } }
  section#movie .slick-next {
    right: -30px; }
    @media (max-width: 768px) {
      section#movie .slick-next {
        right: 0; } }
  section#movie .slick-prev {
    left: -30px; }
    @media (max-width: 768px) {
      section#movie .slick-prev {
        left: 0; } }

.cpr-area {
  text-align: center;
  font-size: 14px;
  font-weight: 100;
  color: white;
  background: #000;
  padding: 8px 0; }
